doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title Javascript test
    link href="stylesheets/foundation.min.css" rel="stylesheet" /
    link href="stylesheets/app.css" rel="stylesheet" /

  body
    form.row.custom action="serach" method="post"
      .large-2.columns
        input name="keyword" placeholder=("Keyword") type="text" /

      .large-3.columns
        select#functionalarea name='functionalarea' data-prompt="Functional Area" multiple="multiple"
          option Projectmanagement
          option Sales
          option SELECTED="SELECTED" Directie
          option SELECTED="SELECTED" Development
          option HR

      .large-2.columns
        select#education name='education' data-prompt="Education" multiple="multiple"
          option Level 1
          option Level 2
          option SELECTED="SELECTED" Level 3

      .large-2.columns
        input name="location" placeholder=("Search by location") type="text" /

      .large-2.columns
        select#radious name='radious' data-prompt="Radious"
          option 10km
          option 20km
          option 30km
          option 40km
          option 50km

      .large-1.expanded.columns
        button.button type="submit"  Search
    .row
      #tags.large-12.columns  

    script src="js/app.js" 
